*.o
*.a
*.deps
*.m4
*.pc
*~

Makefile
Makefile.in
TAGS
XaraLX
autom4te.cache
config.guess
config.status
config.sub
configure
compile
config.log
depcomp
install-sh
missing

po/POTFILES
po/remove-potcdate.sed
po/stamp-po
po/xaralx.pot

libpng-*
freetype-*
wxWidgets-*

doc/en/*.gif
doc/en/*.jpg
doc/en/*.htm
doc/en/*.js
doc/en/*.xml
doc/en/*.css
doc/en/*.ico
doc/en/*.png

# Some working directories for builds

doc/en/whdata/
doc/en/whgdata/
doc/en/whxdata/
doc/en/xarax/
doc/misc/
docs/
doc/en/image/

PreComp/camtypes.h.gch
wxOil/resources.h
wxOil/svnversion.h
wxOil/xrc/dialogs.xrc
wxOil/xrc/resources.xrs
wxOil/xrc/strings.lst
wxOil/xrc/xaralx.po
wxOil/xrc/xrc.check

make-out-err.txt
