
*.deps
*.m4
*~

GDraw/*.o
Kernel/*.o

Makefile
Makefile.in
XaraLX
autom4te.cache
config.guess
config.status
config.sub

filters/*.o

libpng-*

po/*.o
tools/*.o
wxGTK-2.8.12/*.o
wxOil/*.o
wxXtra/*.o
xarlib/*.o

freetype-*
wxWidgets-*

