
*.deps
*.m4
*.pc
*~

GDraw/*.o
Kernel/*.o
libs/x86_64/orphaned-object-files/*.o

Makefile
Makefile.in
XaraLX
autom4te.cache
config.guess
config.status
config.sub
configure

filters/*.o

libpng-*

po/*.o
tools/*.o
wxGTK-2.8.12/*.o
wxOil/*.o
wxXtra/*.o
xarlib/*.o

freetype-*
wxWidgets-*

